@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #f1f5f9;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0f172a;
    color: white;
    padding: 15px 30px;
}

.navbar ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.navbar a {
    color: white;
    text-decoration: none;
}

/* HERO */
.hero {
    text-align: center;
    padding: 80px 20px;
    background: #38bdf8;
    color: white;
}

.hero button {
    padding: 10px 20px;
    border: none;
    background: #0f172a;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

/* SECTIONS */
section {
    padding: 60px 20px;
    text-align: center;
}

/* CARDS */
.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 20px;
    margin: 15px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card:hover {
    transform: scale(1.05);
    transition: 0.3s;
}